@font-face {
  font-family: 'ep-icomoon';
  src:  url('fonts/ep-icomoon.eot?mmbyp2');
  src:  url('fonts/ep-icomoon.eot?mmbyp2#iefix') format('embedded-opentype'),
    url('fonts/ep-icomoon.ttf?mmbyp2') format('truetype'),
    url('fonts/ep-icomoon.woff?mmbyp2') format('woff'),
    url('fonts/ep-icomoon.svg?mmbyp2#ep-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ep-icon-"], [class*=" ep-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ep-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ep-icon-small-player:before {
  content: "\e95e";
}
.ep-icon-bad:before {
  content: "\e959";
}
.ep-icon-happy:before {
  content: "\e95a";
}
.ep-icon-neutral:before {
  content: "\e95b";
}
.ep-icon-very-bad:before {
  content: "\e95c";
}
.ep-icon-very-happy:before {
  content: "\e95d";
}
.ep-icon-close:before {
  content: "\e957";
}
.ep-icon-marker:before {
  content: "\e900";
}
.ep-icon-dots-menu:before {
  content: "\e956";
  color: #ccc;
}
.ep-icon-setting:before {
  content: "\e913";
}
.ep-icon-edit:before {
  content: "\e914";
}
.ep-icon-microphone:before {
  content: "\e915";
}
.ep-icon-right-outtline:before {
  content: "\e916";
}
.ep-icon-warning-outline:before {
  content: "\e917";
}
.ep-icon-info-outline:before {
  content: "\e918";
}
.ep-icon-right-rounded:before {
  content: "\e919";
}
.ep-icon-warning-filled:before {
  content: "\e91a";
}
.ep-icon-wrong-outline:before {
  content: "\e91b";
}
.ep-icon-caution:before {
  content: "\e91c";
}
.ep-icon-warning-4-side:before {
  content: "\e91d";
}
.ep-icon-warning-3-side:before {
  content: "\e91e";
}
.ep-icon-Check:before {
  content: "\e91f";
}
.ep-icon-star-6-side:before {
  content: "\e920";
}
.ep-icon-cross:before {
  content: "\e921";
}
.ep-icon-wrong-filled:before {
  content: "\e922";
}
.ep-icon-drop:before {
  content: "\e923";
}
.ep-icon-drop-up:before {
  content: "\e924";
}
.ep-icon-drop-right:before {
  content: "\e925";
}
.ep-icon-drop-left:before {
  content: "\e926";
}
.ep-icon-expand-down:before {
  content: "\e927";
}
.ep-icon-expand-up:before {
  content: "\e928";
}
.ep-icon-expand-right:before {
  content: "\e929";
}
.ep-icon-expand-left:before {
  content: "\e92a";
}
.ep-icon-arrow-down:before {
  content: "\e92b";
}
.ep-icon-arrow-up:before {
  content: "\e92c";
}
.ep-icon-arrow-right:before {
  content: "\e92d";
}
.ep-icon-arrow-left:before {
  content: "\e92e";
}
.ep-icon-option:before {
  content: "\e92f";
}
.ep-icon-star-outline:before {
  content: "\e930";
}
.ep-icon-star-filled:before {
  content: "\e931";
}
.ep-icon-sort:before {
  content: "\e932";
}
.ep-icon-search:before {
  content: "\e933";
}
.ep-icon-checkbox-unfilled:before {
  content: "\e934";
}
.ep-icon-checkbox-filled:before {
  content: "\e935";
}
.ep-icon-play:before {
  content: "\e936";
}
.ep-icon-play-filled:before {
  content: "\e937";
}
.ep-icon-play-outline-2:before {
  content: "\e938";
}
.ep-icon-play-outline:before {
  content: "\e939";
}
.ep-icon-pause:before {
  content: "\e93a";
}
.ep-icon-pause-filled:before {
  content: "\e93b";
}
.ep-icon-pause-outline:before {
  content: "\e93c";
}
.ep-icon-forward:before {
  content: "\e93d";
}
.ep-icon-previous:before {
  content: "\e93e";
}
.ep-icon-previous-outline:before {
  content: "\e93f";
}
.ep-icon-forward-outline:before {
  content: "\e940";
}
.ep-icon-previous-filled:before {
  content: "\e941";
}
.ep-icon-forward-filled:before {
  content: "\e942";
}
.ep-icon-replay:before {
  content: "\e943";
}
.ep-icon-stop-filled:before {
  content: "\e944";
}
.ep-icon-stop:before {
  content: "\e945";
}
.ep-icon-stop-outline:before {
  content: "\e946";
}
.ep-icon-info-filled:before {
  content: "\e947";
}
.ep-icon-question:before {
  content: "\e948";
}
.ep-icon-help-filled:before {
  content: "\e949";
}
.ep-icon-help-outline:before {
  content: "\e94a";
}
.ep-icon-BP:before {
  content: "\e94b";
}
.ep-icon-Ico-Disfluencies:before {
  content: "\e94c";
}
.ep-icon-Ico-Sentence:before {
  content: "\e94d";
}
.ep-icon-Ico-SpeechMod:before {
  content: "\e94e";
}
.ep-icon-Ico-WordA:before {
  content: "\e94f";
}
.ep-icon-Asset-35:before {
  content: "\e950";
}
.ep-icon-Asset-34:before {
  content: "\e951";
}
.ep-icon-Asset-33:before {
  content: "\e952";
}
.ep-icon-Asset-32:before {
  content: "\e953";
}
.ep-icon-Asset-31:before {
  content: "\e954";
}
.ep-icon-share:before {
  content: "\e958";
}
.ep-icon-question-outline:before {
  content: "\e90b";
}
.ep-icon-drop-down:before {
  content: "\e90c";
}
.ep-icon-replay-icon:before {
  content: "\e90d";
}
.ep-icon-videocam:before {
  content: "\e90e";
}
.ep-icon-warning:before {
  content: "\e90f";
}
.ep-icon-right:before {
  content: "\e910";
}
.ep-icon-wrong:before {
  content: "\e911";
}
.ep-icon-question-filled:before {
  content: "\e912";
}
.ep-icon-vocal-features:before {
  content: "\e901";
}
.ep-icon-eye:before {
  content: "\e902";
}
.ep-icon-appropriate-pauses:before {
  content: "\e903";
}
.ep-icon-hand:before {
  content: "\e955";
}
.ep-icon-smiley:before {
  content: "\e904";
}
.ep-icon-appearance:before {
  content: "\e905";
}
.ep-icon-posture:before {
  content: "\e906";
}
.ep-icon-disfulencies:before {
  content: "\e907";
}
.ep-icon-sentence-analysis:before {
  content: "\e908";
}
.ep-icon-speech-modulation:before {
  content: "\e909";
}
.ep-icon-word-usage:before {
  content: "\e90a";
}
