@import 'variables.scss';

.word-component-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.word-component-heading {
  position: relative;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 8px;
}

.word-component-member {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  content: '';
  display: table;
  clear: both;
}

.word-component-content {
  position: relative;
  width: 100%;
}

.heading-left {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: $black;
}

.heading-arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-top: 8px solid #868686;
  border-left: 6px solid transparent;
  margin-top: 6px;
  cursor: pointer;
}

.heading-right {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #868686;
}

.row-heading-one {
  position: relative;
  display: inline-block;
  padding: 0px 10px;
  width: 20%;
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  text-decoration: underline;
}

.row-heading-two {
  position: relative;
  display: inline-block;
  padding: 0px 10px;
  width: 20%;
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  text-decoration: underline;
}

.row-heading-three {
  position: relative;
  display: inline-block;
  padding: 0px 10px;
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  text-decoration: underline;
}

.row-member-one {
  position: relative;
  float: left;
  padding: 0px 10px;
  width: 20%;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}
.row-member-two {
  position: relative;
  float: left;
  padding: 0px 10px;
  width: 20%;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}
.row-member-three {
  position: relative;
  float: left;
  padding-left: 15px;
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

.bottom-border {
  border-bottom: 1px solid #dadada;
}

.play-illustration-style {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  position: absolute;
}

.heading-column {
  font-size: 18px;
  font-weight: 600;
  font-size: 18px;
}

.line-height-content {
  margin-top: 10px;
}

.single-row {
  position: relative;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dadada;
}

.single-column {
  position: relative;
  display: inline-block;
  color: #262626;
  vertical-align: top;
}

.category-column {
  width: 40%;
}

.information-column {
  width: 60%;
  padding-left: 10px;
}

.data-col-label {
  font-weight: 500;
  text-transform: capitalize;
}

.data-col-info {
}
