#interview-body {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#interview-box {
  margin: 0 auto;
  width: 900px;
  height: 100%;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  padding-top: 30px;
  padding-bottom: 30px;
}

.interviewer-container-old {
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  width: 256px;
  height: 144px;
  object-fit: contain;
  background-image: url(`elevator-pitch/dist/images/group-3.svg`);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
}

.clock {
  position: absolute;
  margin-top: 16px;
  right: 1.7%;
  width: 9.5em;
  height: 36px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#time-remaining {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

#time {
  position: absolute;
  width: 84px;
  height: 27px;
  left: 40px;
  top: 5px;
}

#clock-logo {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 8px;
  top: 6px;
  object-fit: contain;
  background-image: url(`elevator-pitch/dist/images/ic-timer-black-24-px.svg`);
  background-repeat: no-repeat;
  background-position-x: 3px;
  background-position-y: 1px;
}

.interviewer {
  position: relative;
  display: block;
  width: 840px;
  height: 630px;
  margin: 0 auto;
}

.ints {
  position: relative;
  width: 100%;
  height: 192px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#question-container {
  position: relative;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 600;
  color: white;
  width: 840px;
  height: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thankYouContainer {
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #2a2a2a;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 640px;
}

.b1 {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 30px;
  border-radius: 4px;
  background-color: #ff5500;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

video#interview-video {
  position: absolute;
  width: 840px;
  z-index: 10;
  transform: rotateY(180deg);
}

#processing {
  position: absolute;
  top: 540px;
  left: 357px;
  width: 247px;
  height: 33px;
  display: none;
}

#msg {
  position: relative;
  display: block;
  top: 0px;
  left: 30px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
}

@media all and (max-width: 980px) {
  #interview-box {
    position: relative;
    top: 24px;
    left: 2.5%;
    width: 95%;
    height: 866px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dadada;
  }
}

.intStartCounter {
  position: absolute;
  right: 20px;
  left: 20px;
  top: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  color: white;
  z-index: 1000;
}

.intStartCounter .counter {
  margin-top: 10px;
  font-size: 100px;
}

.intProcess {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px 0px;
}

.processing-status {
  width: 200px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 0;
}

.processing-text {
  height: 50px;
  font-weight: 500;
}

.processing-image {
  height: 50px;
}
