//dashboard variables
$brand-primary: #0075cb;
$brand-info: #1ab8dd;
$brand-success: #46a879;
$brand-warning: #ff9e2d;
$brand-danger: #f34d3d;
$brand-tertiary: #cb4c43;
$brand-quaternary: #eb0023;
$brand-quinary: #3c438a;
$brand-facebook: #4267b2;
$brand-linkedin: #0077b5;
$brand-trending: #ff6f1e;
$brand-heading: #3f51b5;

// variables

$white: #ffffff;
$black: #222;
$grey-darkest: #444;
$grey-darker: #666;
$grey-dark: #cccccc;

$smile: #c4e4c8;
$frown: #ffd2d8;
$surprise: #ffeab6;
$accessiblityRed: #cc4400;
$accessiblityGreen: #33844e;
$red: #ff5500;
$yellow: #f5a623;
$green: #44af67;
$light-red: #ffddd9;
$light-yellow: #ffecd6;
$light-green: #e4f2eb;
$int-ques-hover: #e0edf6;

$cerulean: #0075cb;
$dark-blue: #005898;

$grey: #757575;
$light-grey: #dadada;
$dark-grey: #a7a7a7;
$fontLight: 'Avenir Next W00';
$fontMedium: 'Avenir Next W00';
$fontRegular: 'Avenir Next W00';
$fontSemiBold: 'Avenir Next W00';
$fontBold: 'Avenir Next W00';
$primary-color: $black;

$app-font: 'Avenir Next W00';
$background-color: #e8edf3;
