.logs-modal {
}

.logs-modal .modal-dialog {
  top: 40px !important;
  height: unset !important;
  margin: 0 auto;
  margin-bottom: 40px !important;
}

.logs-modal .modal-content {
  height: unset !important;
}

.logs-modal .modal-body {
  height: unset !important;
}

.personal-information-modal {
  /*width: 40% !important;*/
  /*height: unset !important;*/
}

.personal-information-modal .modal-dialog {
  top: 100px !important;
  height: unset !important;
  margin: auto;
}

.personal-information-modal .modal-content {
  height: unset !important;
}

.personal-information-modal .modal-body {
  height: unset !important;
}

/*EDIT PROFILE PICTURE MODAL*/
.edit-profile-picture-wrapper {
  text-align: left;
  .edit-close-btn {
    color: white;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    &,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  .modal-dialog {
    top: 50px;
    width: 75%;
    margin: 0 auto;
    height: auto !important;
  }

  .modal-header {
    background-color: #0075cb;
    h4 {
      font-size: 24px;
      font-weight: 500;
      text-align: left;
      color: white;
    }
    button {
      opacity: 1;
      color: white;
      font-size: 36px;
      font-weight: 400;
    }
  }

  .modal-body {
    .edit-modal-body {
      margin: 0;
    }
    .left-container {
      padding: 30px 40px 10px;
      box-shadow: inset -4px 0px 5px -3px rgba(167, 167, 167, 0.5);
      .reactAvatorCanvasStyle {
        cursor: pointer;
        background-color: black;
      }
    }
    .dynamic-feedback-container {
      display: inline-block;
      padding: 20px 50px 0;
      height: 130px;
      min-height: 130px;
      width: 100%;
      &.padding-t-40 {
        padding-top: 40px;
      }
    }

    .dynamic-feedback-loader {
      position: relative;
      display: inline-block;
      .lds-ellipsis {
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 64px;
        top: 25%;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: gray;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(19px, 0);
        }
      }
    }

    .picture-canvas-container {
      position: relative;
      background: black;
      text-align: center;
      height: 300px;
    }

    .canvas-grid-container {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      pointer-events: none;
      border: 2px solid;
      border-color: rgba(255, 255, 255, 0.5);
      top: 50px;
      left: calc((100% - 500px) / 2 + 150px);
      z-index: 1;
      div {
        position: absolute;
        z-index: 1;
        border: 0.5px solid;
        border-color: #e8e2e230;
      }
      &-top-horizontal {
        width: 100%;
        height: 1px;
        top: 33.33333%;
      }
      &-bottom-horizontal {
        width: 100%;
        height: 1px;
        top: 66.666666%;
      }
      &-left-vertical {
        height: 100%;
        width: 1px;
        left: 33.33333%;
      }
      &-right-vertical {
        height: 100%;
        width: 1px;
        left: 66.666666%;
      }
    }

    .right-container {
      padding: 0px;
      // box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
      .panel-container {
        &,
        &-2 {
          border: none;
          border-color: unset;
          border-radius: 0;
          background: none;
          margin: 0;
          border-bottom: 0.25px solid #dddddd;
        }
        &-2 {
          padding: 5px 0 0;
        }
      }

      a {
        text-decoration: none;
      }
      .panel-heading {
        background-color: unset;
        .panel-arrow {
          transform: rotate(0deg);
          transition-duration: 500ms;
        }
        a.collapsed {
          .panel-arrow {
            transform: rotate(-90deg);
            transition-duration: 500ms;
          }
        }
      }
      .panel-tab-heading-text {
        padding-left: 10px;
      }
      .panel-body {
        padding: 15px 40px 0 25px;
        box-shadow: inset 0 2px 4px #dedede;
      }
      .panel-body-el {
        margin-bottom: 20px;
      }

      .panel-body-text {
        color: #4d4c4c;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 7px;
        font-family: Avenir Next;
      }
      .rotate-btn {
        width: 45px;
        height: 30px;
        margin-right: 5px;
        background: none;
        border-radius: 3px;
        border: 1px solid #dedddd;
      }

      .edit-picture-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        outline: none;
        opacity: 0.8;
        cursor: pointer;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
      }

      .edit-picture-slider:hover {
        opacity: 1;
      }

      .edit-picture-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: solid 0.5px #dadada;
        background: rgb(255, 255, 255);
        cursor: pointer;
      }

      .edit-picture-slider::-moz-range-thumb {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: solid 0.5px #dadada;
        background: #ffffff;
        cursor: pointer;
      }
    }
  }

  .modal-footer {
    a {
      text-decoration: none;
    }
    .btn {
      min-width: unset;
    }
    .reset-btn {
      color: #006ffa;
      background-color: transparent;
      background-image: none;
      border-color: #006ffa;
      border-radius: 4px;
      padding: 8px 15px 7px;
      font-size: 16px;
      font-weight: 600;
      width: 100px;
      &:hover {
        background-color: #0075cb;
        color: white;
      }
    }
    .apply-btn {
      padding: 7px 15px 8px;
      font-size: 16px;
      font-weight: 600;
      width: 150px;
      margin-left: 10px;
    }
    .change-photo-btn {
      float: left;
      padding: 8px 15px;
      text-align: left;
      .change-photo-text {
        font-size: 15px;
        font-weight: 600;
        font-family: Avenir Next;
        color: #006ffa;
      }
    }
  }
}

.profile-picture-modal {
}

.crop-modal-backdrop {
  z-index: 1056;
}

.as-crop-modal {
  z-index: 1058;
}

.profile-picture-modal .modal-dialog {
  top: 50px !important;
  height: unset;
  margin: auto;
  width: 75%;
  height: unset;
}

.profile-picture-modal .modal-content {
  height: unset !important;
}

.profile-picture-modal .modal-body {
  height: unset !important;
}

.headline-modal {
  /* width: 82.5% !important; */
  /* height: unset !important; */
}

.headline-modal .modal-dialog {
  width: 82.5% !important;
  height: unset !important;
  top: 50px !important;
  height: unset !important;
  margin: 0 auto;
  margin-bottom: 40px !important;
}

.headline-modal .modal-content {
  height: unset !important;
}

.headline-modal .modal-body {
  height: unset !important;
}

.education-modal {
  /*width: 82.5% !important;*/
  /*height: unset !important;*/
}

.education-modal .modal-dialog {
  width: 82.5% !important;
  top: 50px !important;
  height: unset !important;
  margin: auto;
  margin-bottom: 40px !important;
}

.education-modal .modal-content {
  height: unset !important;
}

.education-modal .modal-body {
  height: unset !important;
}

.experience-modal {
  /*width: 82.5% !important;*/
  /*height: unset !important;*/
}

.experience-modal .modal-dialog {
  top: 50px !important;
  width: 82.5% !important;
  height: unset;
  margin: auto;
}

.experience-modal .modal-content {
  height: unset !important;
}

.experience-modal .modal-body {
  height: unset !important;
}

.summary-modal {
  /*width: 82.5% !important;*/
  /*height: unset !important;*/
}

.summary-modal .modal-dialog {
  width: 82.5% !important;
  top: 50px !important;
  height: unset !important;
  margin: auto;
}

.summary-modal .modal-content {
  height: unset !important;
}

.summary-modal .modal-body {
  height: unset !important;
}

.modal-width.modal-dialog,
.modal-width-small.modal-dialog,
.modal-width-medium.modal-dialog,
.height-variable-modal.modal-dialog {
  top: 40px !important;
  max-height: calc(100% - 80px) !important;
  margin: 0 auto;
}

.modal-width .modal-content,
.modal-width-small .modal-content,
.modal-width-medium .modal-content {
  border-radius: unset;
}

.height-variable-modal .modal-content {
  height: unset;
}

.modal-width-small .modal-content {
  height: unset;
}

.as-eq-height-row {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.as-eq-height-col {
  display: flex;
  flex-direction: column;
}

.as-unset-opacity {
  opacity: unset !important;
}

.as-edit-modal.fade.in.modal {
  overflow-y: hidden !important;
}

.as-edit-modal-scrollable.fade.in.modal {
  overflow-y: auto;
}

.as-confirm-edit-close-backdrop {
  z-index: 1050;
}

/* edit loader */
.mikepad-loading {
  width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.mikepad-loading .binding {
  content: '';
  width: 60px;
  height: 4px;
  border: 4px solid #000;
  margin: 0 auto;
}

.mikepad-loading .pad {
  width: 60px;
  height: 70px;
  border: 3px solid #000;
  border-top: 0;
  padding: 10px 8px;
  margin: 0 auto;
}

.mikepad-loading .line {
  width: 38px;
  margin-top: 8px;
  border-top: 3px solid #000;
  opacity: 0;
  -webkit-animation: writeline 1.5s infinite ease-in;
  -moz-animation: writeline 1.5s infinite ease-in;
  -o-animation: writeline 1.5s infinite ease-in;
  animation: writeline 1.5s infinite ease-in;
}

.mikepad-loading .line:first-child {
  margin-top: 0;
}

.mikepad-loading .line.line1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.mikepad-loading .line.line2 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  border-color: #46a76d;
}

.mikepad-loading .line.line3 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  border-color: #0075cb;
}

.line4 {
  -webkit-animation: unset !important;
  -moz-animation: unset !important;
  -o-animation: unset !important;
  animation: unset !important;
  opacity: 1 !important;
  border-top: 3px solid #000 !important;
  -webkit-animation-delay: 0 !important;
  -moz-animation-delay: 0 !important;
  -o-animation-delay: 0 !important;
  animation-delay: 0 !important;
}

.line5 {
  -webkit-animation: unset !important;
  -moz-animation: unset !important;
  -o-animation: unset !important;
  animation: unset !important;
  opacity: 1 !important;
  border-top: 3px solid #000 !important;
  -webkit-animation-delay: 0 !important;
  -moz-animation-delay: 0 !important;
  -o-animation-delay: 0 !important;
  animation-delay: 0 !important;
}

.mikepad-loading .text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}

@-webkit-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 38px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 38px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 38px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 38px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* edit loader ends */

.as-edit-wrapper {
  width: 100%;
  height: 100%;
}

.as-edit-feedback-wrapper {
  display: inline-block;
  width: 50%;
  height: calc(100% - 56px);
  background-color: #f5f5f5;
  /*float: left;*/
}

.as-edit-feedback-inner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.as-edit-nav-wrapper {
  overflow-y: auto;
  height: 100%;
}

.as-edit-feedback-nav {
  display: inline-block;
  width: 90px;
  min-height: 100%;
  background-color: #ffffff;
  /*  overflow-y: auto;*/
  vertical-align: top;
  overflow-x: visible;
  min-height: 650px;
}

.as-edit-feedback-container {
  position: absolute;
  top: 0;
  left: 90px;
  display: inline-block;
  width: calc(100% - 90px) !important;
  height: 100%;
  padding: 20px;
  vertical-align: top;
  overflow-y: auto;
  min-height: 650px;
}

.as-edit-container {
  display: inline-block;
  width: 50%;
  height: calc(100% - 56px);
  background-color: #f5f5f5;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  float: right;
}

.as-bg-white {
  background-color: #ffffff;
}

.as-info-modal {
  .modal-dialog {
    width: 82.5%;
    margin-left: 8.75%;
    margin-right: 8.75%;
  }
  &.info-connection-modal {
    .modal-dialog {
      width: 65%;
      margin: 40px auto auto;
    }
    .info-connect-body {
      .text-btn {
        background: none;
        border: none;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 15px;
      }
    }
    img {
      width: 100%;
    }
  }
}

.as-edit-container-logs {
  height: unset;
  max-height: 650px;
  min-height: 320px;
  width: 100%;
  float: unset;
  display: block;
  background-color: #fafafa;
}

.as-edit-container-summary {
  background-color: #ffffff;
}

.as-edit-container-left {
  display: inline-block;
  width: 50%;
  background-color: #f5f5f5;
  padding: 20px 16px;
}

.as-edit-container-right {
  display: inline-block;
  width: 50%;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.as-bg-grey {
  background-color: #f5f5f5;
}

.as-nav-list-item:hover,
.as-nav-list-item:focus {
  text-decoration: none;
}

.as-nav-list-item {
  position: relative;
  display: block;
  padding: 12px 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.as-nav-list-item.active {
  background-color: #cce3f5;
  text-decoration: none;
}

.as-nav-list-item-icon img {
  height: 35px;
  width: 35px;
}

.as-nav-list-item-text {
  padding-top: 8px;
}

.hwt-content:focus {
  padding: 9px !important;
  border: 2px solid #0075cb;
}

.as-edit-container textarea,
.as-edit-container-right textarea {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}

.edit-summary .hwt-content:focus,
.edit-headline .hwt-content:focus {
  font-size: 20px;
  line-height: 30px;
}

.as-edit-container textarea::placeholder,
.as-edit-container-right textarea::placeholder {
  color: #c7c7cd;
}

.edit-summary textarea {
  max-height: 514px;
  min-height: 232px;
}

.edit-headline textarea {
  max-height: 290px;
}

.edit-experience-description textarea {
  max-height: 246px;
  min-height: 166px;
}

.edit-education-description textarea {
  max-height: 330px;
  min-height: 238px;
}

.as-edit-container input[type='text'],
.as-edit-container-right input[type='text'],
.as-input-div {
  width: 100%;
  outline: none;
  line-height: 22px;
  min-height: 36px;
  color: #000;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 5px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
}

.as-edit-container input[type='text']:focus,
.as-edit-container-right input[type='text']:focus,
.as-input-div:focus {
  border: 2px solid #0075cb;
  padding: 4px 9px;
}

.as-edit-container .as-input-div,
.as-edit-container-right .as-input-div {
  overflow: auto;
  white-space: nowrap;
}

.as-edit-container select,
.as-edit-container-right select {
  width: 48%;
  outline: none;
  background-color: #fff;
  line-height: 22px;
  margin-bottom: 5px;
  background: #fff;
  color: #000;
  padding: 5px 10px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
}

.as-edit-container select:focus,
.as-edit-container-right select:focus {
  border: 2px solid #0075cb;
  padding: 4px 9px;
}

.experience-from-year-select {
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}

.experience-to-year-select {
  float: right;
  padding-left: 0px;
}

.as-edit-container {
  &,
  &-right {
    .as-edit-select-field {
      .Select-control {
        border: 1px solid #9b9b9b;
      }
      .Select-placeholder,
      .Select-value-label {
        font-size: 15px;
      }
    }
  }
}

.as-edit-container select.as-edit-select-field,
.as-edit-container-right select.as-edit-select-field {
  width: 100%;
}

.as-edit-container select.as-edit-select-field-left,
.as-edit-container-right select.as-edit-select-field-left {
  float: left;
}

.as-edit-container select.as-edit-select-field-right,
.as-edit-container-rightselect.as-edit-select-field-right {
  float: right;
}

.as-edit-heading {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  line-height: 56px;
  margin-left: 15px;
}

.as-edit-heading-picture {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  line-height: 30px;
  margin-bottom: 15px;
}

.edit-field-label {
  font-size: 15px;
  font-weight: 600;
  color: #666;
  margin-bottom: 0px;
}

.as-edit-input-field-label {
  font-size: 12px;
  font-weight: 500;
  color: #459dde;
  margin-bottom: 0px;
  line-height: 16px;
}

.is-current-checkbox-wrapper {
  padding-left: 10px;
}

.is-current-checkbox {
  margin-right: 5px !important;
  margin-top: 0px !important;
}

.is-current-checkbox-text {
  font-size: 11px;
  font-weight: 600;
  color: #6b6b6b;
}

.edit-summary,
.edit-headline {
  position: relative;
  /*height: 480px;*/
  outline: none;
  border: unset;
  line-height: normal;
  color: #000;
  /*padding: 5px 0;*/
  font-size: 16px;
  /*margin-bottom: 5px;*/
}

.edit-experience-description {
  position: relative;
  /*height: 300px;*/
  outline: none;
  border: unset;
  line-height: normal;
  color: #000;
  /*padding: 5px 0;*/
  font-size: 16px;
  /*margin-bottom: 5px;*/
}

.edit-education-description {
  position: relative;
  /*height: 95px;*/
  outline: none;
  border: unset;
  line-height: normal;
  color: #000;
  /*padding: 5px 0;*/
  font-size: 16px;
  /*margin-bottom: 5px;*/
}

.edit-headline-text {
  position: relative;
  outline: none;
  border: unset;
  line-height: normal;
  color: #000;
  font-size: 16px;
}

.as-edit-buttons-group {
  display: block;
  text-align: center;
  background-color: #ffffff;
  margin-top: 5px;
  text-align: right;
}

.as-edit-buttons-group-headline,
.as-edit-buttons-group-summary,
.as-edit-buttons-group-experience,
.as-edit-buttons-group-education,
.as-edit-buttons-group-personal-information {
  display: block;
  text-align: center;
  background-color: #ffffff;
  margin-top: 5px;
  text-align: right;
}

.btn-save-changes {
  display: inline-block;
  min-width: unset !important;
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #0075d2;
  padding: 5px 15px !important;
}

.btn-undo-changes {
  display: inline-block;
  margin-right: 8px;
  min-width: unset !important;
  color: #0075d2 !important;
  background-color: #ffffff !important;
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #0075d2;
  padding: 5px 15px !important;
}

.as-edit-close-btn {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
  float: right;
  line-height: 56px;
}

.editing-warning-text {
  font-size: 11px;
  color: $brand-primary;
  text-align: right;
  font-weight: 600px;
}

.as-shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.as-guide-container {
  padding: 0;
  height: 100%;
}

.as-guide-heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.as-guide-heading-wrapper {
  margin-bottom: 15px;
  display: table;
}

.as-all-lists-heading-img-wrapper {
  display: table-cell;
}

.as-all-lists-heading-img {
  height: 40px;
}

.as-all-lists-heading-text {
  display: table-cell;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  padding: 0 10px;
  line-height: 20px;
}

.as-all-lists-heading-wrapper {
  margin-bottom: 15px;
  display: block;
}

.as-guide-heading-img-wrapper {
  display: inline-block;
}

.as-guide-heading-img {
  height: 40px;
}

.as-guide-heading-text {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 10px;
}

.as-guidance-title .as-guidance-toggle-btn {
  width: 100%;
  border: none;
}

.as-guide-subtext {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.as-guide-submodule-subtext {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.as-guidance-container {
  margin: 10px 0px;
}

.as-skills-container,
.as-categories-container {
  margin: 10px 0px 15px;
  background: #ffffff;
  padding: 10px;
  border-radius: 2px;
}

.as-guide-submodule-container {
  margin: 15px 0;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 2px;
}

.as-categories-border-top,
.as-skills-border-top,
.as-guidance-border-top,
.as-guide-submodule-border-top,
.as-section-border-top {
  border-top: 1px solid #999999;
  margin: 15px 0px;
}

.as-guidance-border {
  border-top: 1px solid #dadada;
  margin: 10px 0 0;
}

.as-categories-list,
.as-skills-list {
  display: block;
}

.as-categories-list-heading,
.as-skills-list-heading {
  margin-bottom: 10px;
  font-size: 16px;
  color: #777;
  font-weight: 500;
  line-height: 22px;
}

.as-guidance-heading {
  margin-bottom: 10px;
  font-size: 13px;
  color: #444;
  font-weight: 600;
}

/*.as-categories-list-item{
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 14px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}*/

/*.as-categories-list-item:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
*/
/*.as-categories-list-item.active{
  background-color: #d6d6d6;
  color: #000;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
*/
.as-categories-list-item-absent {
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 14px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
}

.as-category-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.as-category-name,
.as-present-skill-name,
.as-missing-skill-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 500px;
  line-height: 22px;
  margin: 0 5px;
  vertical-align: middle;
}

.as-category-ok-icon {
  display: inline-block;
  vertical-align: middle;
  color: #46a76d;
  font-size: 16px;
}

.as-edit-screen-list-item {
  &-gray,
  &-blue,
  &-green {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 4px 12px;
    margin-right: 7px;
    border-radius: 16px;
  }
  &-gray {
    color: $text-black;
    background-color: $light-gray;
    cursor: default;
  }
  &-green {
    color: $brand-success;
    background: white;
    border-color: $brand-success;
    &.active {
      background: $brand-success;
      color: white;
    }
  }
  &-blue {
    color: $brand-primary;
    background: white;
    border-color: $brand-primary;
    &.active {
      background: $brand-primary;
      color: white;
    }
  }
}

.as-present-skills-list-item,
.as-categories-list-item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid #30734a;
  border-radius: 4px;
  color: #30734a;
  cursor: pointer;
  background-color: #d8eee1;
}

.as-example-categories-list-item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid #6b5ea7;
  border-radius: 4px;
  color: #6b5ea7;
  cursor: pointer;
  background-color: #ffffff;
}

.as-example-categories-list-item.active {
  color: #fff;
  background-color: #6b5ea7;
}

/*.as-present-skills-list-item:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}*/

.as-present-skills-list-item.active,
.as-categories-list-item.active {
  color: #fff;
  background-color: #378657;
}

.as-missing-skills-list-item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid #757575;
  border-radius: 4px;
  color: #757575;
}

.as-missing-skills-list-item.active {
}

.as-resume-skills-list-item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid #0071c2;
  border-radius: 4px;
  color: #0071c2;
  cursor: pointer;
  background-color: #ddf1ff;
}

.as-resume-skills-list-item.active {
  color: #ffffff;
  background-color: #0075cb;
}

.as-selected-missing-skill-example {
  background-color: #ffffff;
  padding: 15px 15px;
  margin: 10px 0 25px 0;
  border-radius: 3px;
}

.as-selected-missing-skill-example-heading,
.as-guidance-example-heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.as-selected-missing-skill-text,
.as-guidance-example-text,
.as-guidance-example-subheading {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

.as-guidance-examples-container {
  display: block;
  background-color: #dedede;
  padding: 10px 15px;
  margin: 10px 0 25px 0;
  border-radius: 3px;
}

.as-guidance-example {
  margin-bottom: 20px;
  margin-top: 10px;
}

.as-sample-wrapper {
  height: calc(100% - 55px);
  position: relative;
}

.as-sample-heading {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 30px;
  margin: 10px 20px 10px;
}

.as-sample-example {
  position: relative;
  background-color: #ffffff;
  margin: 0px 0 20px 0;
  height: 100%;
  min-height: 200px;
  border-radius: 2px;
}

.as-sample-example-text {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: calc(100% - 85px);
  overflow-y: auto;
  margin: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding: 5px;
  /*background-color: #FFFAE9;*/
}

.as-sample-example-text-summary {
  top: 25px;
  height: calc(100% - 110px);
}

.as-sample-example-text-education {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 50px);
  overflow-y: auto;
  /*padding: 10px;*/
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.as-sample-bottom {
  position: absolute;
  top: calc(100% - 60px);
  left: 0px;
  right: 0px;
  height: 60px;
}

.as-sample-bottom-left-text {
  float: left;
  font-size: 18px;
  color: #999;
  vertical-align: middle;
  line-height: 35px;
  font-weight: 700;
  padding-left: 10px;
  font-size: 18px;
}

.as-sample-bottom-buttons {
  float: unset;
  line-height: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.as-small-sample-bottom-buttons {
  float: unset;
  line-height: 50px;
  margin: unset;
}

.as-sample-bottom-buttons-headline {
  float: unset;
  line-height: 50px;
}
.as-sample-arrow {
  vertical-align: 10%;
}

/* Loader for resume gaps */
.as-samples-loader-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 55px);
}

.as-samples-loader-inner-wrapper {
  position: absolute;
  top: 40%;
  width: 100%;
}

.as-samples-loader-text {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.as-samples-loader {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.as-samples-loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.as-samples-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.as-samples-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.as-guide-submodule-heading {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.as-guide-submodule-feedback-box {
  background-color: #fff;
  padding: 10px 0px;
  margin: 0 0 10px;
  border-radius: 2px;
}

.as-guide-submodule-feedback-top-wrapper {
  display: block;
  padding-bottom: 15px;
}

.as-guide-submodule-feedback-icon {
  display: inline-block;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  margin-right: 10px;
  vertical-align: bottom;
  font-weight: 500;
  font-size: 20px;
}

.as-guide-submodule-feedback-icon.as-checked-green {
  background-color: $brand-success;
}
.as-guide-submodule-feedback-icon.as-checked-yellow {
  background-color: $brand-warning;
}
.as-guide-submodule-feedback-icon.as-checked-red {
  background-color: $brand-danger;
}

.as-guide-submodule-feedback-heading {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.as-guide-submodule-feedback-switch-wrapper {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

.as-guide-submodule-feedback-text {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.as-guidance-submodule-container {
  display: block;
  /*  background-color: #dedede;*/
  padding: 15px 20px;
  margin: 10px 0 10px 0;
}

.as-guidance-left {
  display: inline-block;
  width: 55px;
  vertical-align: top;
}

.as-guidance-left-green {
  background-color: #45a76c;
}

.as-guidance-left-red {
  background-color: #f24e3d;
}

.as-guidance-left-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 26px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.as-guidance-right {
  display: inline-block;
  width: calc(100% - 55px);
}

.as-guidance-panel.panel-default {
  border-color: unset;
}

.as-guidance-panel.panel {
  margin-bottom: 0;
  border: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}

.as-guidance-panel .panel-heading {
  color: #000;
  background-color: unset;
  border-bottom: unset;
  padding: 0;
}

.as-guidance-panel .panel-title {
  cursor: pointer;
}

.as-guidance-panel .panel-title a {
  text-decoration: none !important;
}

.as-guidance-panel .panel-body {
  padding: 0;
}

.as-guidance-panel-heading {
  font-size: 16px;
  color: #0075cb;
  font-weight: 500;
  padding: 10px 0;
}

.as-icon-angle-down-up {
  float: right;
  font-size: 20px;
  vertical-align: top;
}

.as-guidance-submodule-border-top {
  border-top: 1px solid #999999;
  margin: 15px;
}

.as-overusage-border {
  border-top: 1px solid #999999;
  margin: 5px 0;
}

.as-overusage-list-wrapper,
.as-buzzwords-list-wrapper {
  margin: -10px 0 0;
}

.as-buzzwords-list,
.as-overusage-list,
.as-overusage-suggestions-list,
.as-buzzwords-list {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  /* color: #999; */
  line-height: 22px;
}

/* samples styling for education, headline samples */
.as-small-guide-container {
  height: unset;
}

.as-overusage-suggestions-heading,
.as-buzzwords-suggestions-heading {
  font-weight: 500;
  font-size: 16px;
  color: #6b6b6b;
  line-height: 22px;
  margin: 5px 0;
}

.as-small-sample-wrapper {
  height: 255px;
}

.as-small-sample-example {
  height: 200px;
  min-height: unset;
  /*  margin: 0 -10px 0px;*/
}

.as-small-sample-example-text {
  height: 160px;
  color: #000;
}

.as-small-sample-example-text h3 {
  font-size: 20px;
  margin: 0 0 5px;
}

.as-small-sample-example-text p {
  margin: 0 0 5px;
}

.as-small-sample-bottom {
  top: 160px;
  height: 50px;
}

.as-small-samples-loader-wrapper {
  height: 255px;
}

.as-small-sample-heading {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.fixed-url {
  line-height: 22px;
  color: #000;
  padding: 5px 0 5px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  background-color: #d8d8d8;
  border-left: 1px solid #9b9b9b;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 5px;
}

.variable-url {
  flex-grow: 100;
  border-left: unset !important;
  padding-left: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.as-focused-profile-fixed-url {
  border-left: 2px solid #0075cb;
  border-top: 2px solid #0075cb;
  border-bottom: 2px solid #0075cb;
  padding: 4px 0 4px 9px;
}

.as-focused-profile-variable-url {
}

.as-suggested-urls-wrapper {
  padding: 0;
}

.as-picture-sample-wrapper {
  position: relative;
  width: 100%;
  /*background-color: #FDFDFD;*/
}

.as-picture-sample-img-container {
  position: relative;
  width: 100%;
  padding: 60px 0;
  height: 300px;
  /*background-color: #343434;*/
}

.as-picture-col {
  padding: 0 !important;
  margin: 0 !important;
}

.as-picture-sample-feedback-container {
  height: 115px;
  padding: 0 15px;
  margin: 25px 0 0;
  vertical-align: middle;
}

.as-picture-sample-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  border-top: 1px solid #cbcbcb;
}

.as-guide-container-picture {
  padding: 0;
}

.as-edit-buttons-group-picture {
  vertical-align: middle;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 10px;
}

.btn-click-to-change {
  padding: 8px 20px;
  font-size: 13px;
  color: #fff !important;
  min-width: unset !important;
  background-color: #0075cb;
  border-color: #0075cb;
  outline: none !important;
}

.as-no-picture-uploaded-msg {
  font-size: 16px;
  font-weight: 600;
  color: #444;
  margin-top: -3px;
  margin-left: 20px;
}

.as-profile-picture-sample-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #9b9494;
  z-index: 3;
}

.as-profile-picture-sample-btn:hover {
  color: #ffffff;
  background-color: #9b9494;
}

.as-profile-picture-sample-btn.disabled {
  opacity: 0.5;
}

.as-profile-picture-sample-btn-prev {
  position: absolute;
  top: 140px;
  left: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.as-profile-picture-sample-btn-next {
  position: absolute;
  top: 140px;
  right: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.as-profile-picture-indicator {
  position: absolute;
  top: 85%;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 3;
}

.as-profile-picture-indicator-dots {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 2px;
  vertical-align: middle;
}

.as-profile-picture-indicator-dots-light {
  background-color: #ffffff;
}

.as-profile-picture-indicator-dots-dark {
  background-color: #9b9494;
  cursor: pointer;
}

.btn-save-changes-picture {
  min-width: unset !important;
  display: inline-block;
  margin-left: 10px;
}

.btn-click-to-change-picture-block {
  display: inline-block;
}

.btn-click-to-change-picture {
  color: #006ffa;
  display: inline-block;
  min-width: unset !important;
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 500;
  border-radius: 3px;
  background-color: #ffffff !important;
  border: 1px solid #006ffa;
  padding: 5px 15px !important;
  margin-right: 10px;
}

.as-edit-container-picture {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  padding: 25px;
  border-left: 1px solid #cbcbcb;
  vertical-align: top;
}

.as-picture-bg-profile-pic,
.as-picture-bg-profile-pic-real {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 0;
  background-position-y: -85px;
}

.as-picture-bg-color {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  /*filter: alpha(opacity=80);*/
  background-color: #343434;
}

.as-picture-sample-pic {
  position: absolute;
  left: 0;
  right: 0;
  width: 175px !important;
  height: 175px;
  border-radius: 100%;
  border: solid 1px #cacaca;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  z-index: 3;
}

.as-edit-img {
  position: absolute;
  right: 0;
  left: 0;
  height: 175px;
  width: 175px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
}

.as-edit-img-icon {
  position: absolute;
  top: 12px;
  left: 80%;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  background-color: white;
}

.as-edit-img-icon img {
  height: 18px;
  width: 18px;
}

.as-edit-heading-wrapper {
  background-color: #0075cb;
  color: #ffffff;
  display: block;
  height: 56px;
}

.as-edit-inputs-row {
  /*background-color: #ffffff;*/
  &.row {
    margin-right: unset;
    margin-left: unset;
  }
  margin: 0;
}

.as-edit-inputs-col {
  padding: 10px 0;
}

.as-suggested-urls-heading {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 5px;
}

.as-suggested-urls-list {
  font-size: 16px;
  font-weight: 500;
  color: #2078b6;
  margin-bottom: 10px;
}

.as-suggested-urls-list-item {
  line-height: 22px;
  padding: 5px 0;
  overflow-wrap: break-word;
}

.as-red-info-msg {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
}

.as-headline-categories-skills-wrapper {
  background-color: #fff;
  /*  margin: 48px -10px;
  padding: 10px;*/
}

.as-categories-container-headline,
.as-skills-container-headline {
  margin: 0;
}

.as-categories-list-heading-headline,
.as-skills-list-heading-headline {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px;
  margin-top: 12px;
}

.as-categories-list-item-absent-headline {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid #757575;
  border-radius: 4px;
  color: #757575;
}

.as-category-name-headline {
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  vertical-align: middle;
  font-weight: 500;
  line-height: 22px;
}

.as-skills-list-headline {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 5px;
}

.as-headline-sample-outer-wrapper {
  /*  margin-bottom: 20px;*/
}

.as-small-sample-outer-wrapper {
  /*  margin-bottom: 20px;*/
}

.as-sample-wrapper-headline {
  height: 110px;
}

.as-sample-example-headline {
  height: 110px;
  min-height: unset;
  background-color: unset;
  margin: 0;
}

.as-sample-example-text-headline {
  height: 70px;
  padding: 0;
}

.as-sample-bottom-headline {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 40px;
  border-top: unset;
}

.headline-suggestion {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}

.as-headline-suggestions-btn,
.as-sample-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #0075cb;
  z-index: 3;
  button {
    background: none;
    border: none;
  }
}

.as-headline-suggestions-btn:hover,
.as-sample-btn:hover {
  color: #ffffff;
  background-color: #0075cb;
}

.as-headline-suggestions-btn.disabled,
.as-sample-btn.disabled {
  opacity: 0.5;
}

.as-headline-suggestions-btn-prev,
.as-sample-btn-prev {
  display: inline-block;
  width: 30px;
  border-radius: 3px;
}

.as-headline-suggestions-btn-next,
.as-sample-btn-next {
  display: inline-block;
  width: 30px;
  border-radius: 3px;
}

.as-headline-suggestions-indicator,
.as-sample-indicator {
  text-align: center;
  z-index: 3;
  display: inline-block;
  width: calc(100% - 60px);
}

.as-headline-suggestions-indicator-dots,
.as-sample-indicator-dots {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 2px;
  vertical-align: middle;
}

.as-headline-suggestions-indicator-dots-light,
.as-sample-indicator-dots-light {
  background-color: #0075cb;
}

.as-headline-suggestions-indicator-dots-dark,
.as-sample-indicator-dots-dark {
  background-color: #e0e0e0;
  cursor: pointer;
}

.as-headline-suggestions-heading {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 12px;
  line-height: normal;
}

.as-guide-submodule-show-text {
  font-weight: 500;
  font-size: 14px;
  color: #0075cb;
  display: inline-block;
  float: right;
  margin-top: 3px;
  margin-right: 7px;
}

.as-guide-submodule-show-text-disabled {
  color: #999;
}

.as-skills-example-outer-wrapper {
  margin: 0px -10px -10px;
  padding: 0 10px 0;
}

.as-categories-example-outer-wrapper {
  margin: 0px -10px -10px;
  padding: 0 10px 0;
}

.as-skills-example-wrapper {
  height: unset;
}

.as-skills-example {
  height: unset;
  min-height: unset;
  background-color: unset;
}

.as-skills-example-text {
  height: unset;
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
  overflow-y: auto;
}

.as-skills-example-bottom {
  position: absolute;
  top: 110px;
  left: 0px;
  right: 0px;
  height: 50px;
  border-top: unset;
}

.as-skills-example-heading {
  font-weight: 500;
  font-size: 16px;
  /* color: #919191; */
  color: #6b6b6b;
}

.as-category-fixed {
  color: #ffffff;
  line-height: 22px;
  padding: 2px 4px;
  background-color: #6b5ea7;
}

.as-category-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
}

/*.as-category-color-1{
  background-color: #3c438a;
}

.as-category-color-2{
  background-color: #c24270;
}

.as-category-color-3{
  background-color: #4ebae2;
}

.as-category-color-4{
  background-color: #d1082e;
}

.as-category-color-5{
  background-color: #6f67b4;
}

.as-category-color-6{
  background-color: #6f67b4;
}*/

.as-categories-list-example {
  display: block;
  margin-bottom: 10px;
}

.as-categories-list-example-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: middle;
}

.as-categories-example-wrapper {
  height: 300px;
}

.as-categories-example {
  height: 300px;
  min-height: unset;
  background-color: unset;
}

.as-categories-example-bottom {
  position: absolute;
  top: 250px;
  left: 0px;
  right: 0px;
  height: 50px;
  border-top: unset;
}

.as-categories-example-text {
  height: 250px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
  overflow-y: auto;
}

.as-category-example-fixed-text {
  line-height: 25px;
}

.as-focused-label-text-color {
  color: #0075cb;
}

.as-label-text-color {
  color: #757575;
}

.as-show-more-btn-container {
  display: block;
}

.as-show-more-btn {
  float: right;
  font-size: 16px;
  text-decoration: underline;
}

.hwt-backdrop .hwt-content mark.highlight-red {
  background-color: #f78f85 !important;
}

.as-edit-suggestions-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.as-edit-card-headline-education {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  margin-top: 26px;
}

.as-edit-card-1-headline-education {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 16px;
  margin-top: 16px;
}

.as-edit-card-2-headline-education {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 16px;
  margin-top: 26px;
  height: 287px;
}

.as-section-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.as-edit-inputs-row-headline {
  margin: 0;
  height: calc(100% - 100px);
}

.as-edit-inputs-col-headline {
  padding: 0;
}

/*.as-edit-black-overlay{
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1055;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s !important;
  -moz-transition: opacity 0.5s ease 0s !important;
  -o-transition: opacity 0.5s ease 0s !important;
  transition: opacity 0.5s ease 0s !important;
}*/

.as-edit-overlay-none {
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1055;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s !important;
  -moz-transition: opacity 0.5s ease 0s !important;
  -o-transition: opacity 0.5s ease 0s !important;
  transition: opacity 0.5s ease 0s !important;
}

.as-edit-overlay-black {
  visibility: visible;
  opacity: 0.2;
  pointer-events: none;
}

/*.as-edit-focused{
  padding: 10px;
  background-color: #fff;
  z-index: 1056;
  position: absolute;
  width: calc(50% - 20px);
  border-radius: 3px;
  top: 72px;
  overflow-y: hidden;
  max-height: calc(100% - 88px);
}*/

.as-edit-focused-none {
  padding: 10px;
  background-color: #fff;
  z-index: unset;
  position: absolute;
  width: calc(50% - 20px);
  border-radius: 3px;
  top: 72px;
  overflow-y: hidden;
  max-height: calc(100% - 88px);
}

.as-edit-focused-black {
  z-index: 1056;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.as-edit-focused-no-zoom{
  font-size: 16px !important;
  line-height: 24px !important
}*/

.max-tall {
  max-height: 100%;
}

.as-unset-float {
  float: unset;
}

.height-variable-modal .as-eq-height-col {
  min-height: 450px;
}

.as-education-text-col-left-6 {
  width: 50%;
  float: left;
}

.as-education-text-col-right-6 {
  width: 48%;
  float: right;
}

.as-education-text-col-left-3 {
  width: 23%;
  float: left;
  margin-left: 2%;
}

.as-education-text-col-right-3 {
  width: 24%;
  float: right;
}

.as-personal-information-container {
  width: 100%;
  float: unset;
  padding: 20px;
  overflow-y: unset;
  height: unset;
  min-height: 320px;
  background-color: #ffffff;
}

.as-profile-picture-container {
  padding: 10px 30px;
  background-color: #ffffff;
}

.as-headline-container {
  min-height: 400px;
  background-color: #ffffff;
}

.as-education-container {
  min-height: 650px;
  background-color: #ffffff;
}

.as-experience-container {
  min-height: 650px;
  background-color: #ffffff;
}

.as-summary-container {
  min-height: 650px;
  background-color: #ffffff;
}

.as-show-overlay {
  display: block;
}

.as-no-skills-red-text {
  color: $brand-danger !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.as-no-skills-heading {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}

.as-no-skills-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.as-no-skills-img {
  width: 350px;
  margin: 20px auto 10px;
}

.as-api-error-img {
  width: 100%;
  text-align: center;
}

.as-checkbox-not-checked {
  background-color: #bdbdbd;
}
