@charset "UTF-8";
/* CSS Document */

.modal-body {
  padding: 0 !important;
}
.edit-section {
  padding: 30px 0 0 0;
  font-size: 14px !important;
  line-height: 28px;
  margin-bottom: 10px;
}
.input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 6px 0px 6px 10px !important;
  margin-top: 4px !important;
  margin-bottom: 20px !important;
  border: solid 1px #bdbdbd;
}
.input-summary {
  border-radius: 3px;
  /* margin: 10px 0; */
  padding: 10px !important;
  /* margin-top: 4px !important; */
  margin-bottom: 10px !important;
  border: solid 1px #bdbdbd;
  margin-top: 10px;
  height: 350px;
}
.input-exp-title {
  border-radius: 3px;
  margin: 10px 0;
  padding: 6px 0px 6px 10px !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  border: solid 1px #bdbdbd;
}
.input-log {
  border-radius: 2px;
  margin: 10px 0 20px;
  padding: 6px 6px 6px 6px;
  background-color: #ffffff;
  /*border: solid 1px #BDBDBD;*/
}
.input-bg {
  background-color: #d4d4d4;
  border: none !important;
}
/* Reset Select */
.edit-section select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: solid 1px #bdbdbd;
  background: #fff;
  background-image: none;
}
/* Custom Select */
.edit-section .select {
  position: relative;
  display: block;
  line-height: 24px;
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 20px;
}
.edit-section select {
  width: 100%;
  margin: 0;
  padding: 0 0 0 0.7em;
  color: #666;
  cursor: pointer;
}
.edit-section select::-ms-expand {
  display: none;
}
/* Arrow */
.edit-section .select::after {
  content: '\25BC';
  position: absolute;
  color: #515151;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.2em 1em;
  pointer-events: none;
}
/* Transition */
.edit-section .select:hover::after {
  color: #999;
}
.edit-section .select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.edit-section select[disabled] {
  cursor: not-allowed;
}
.edit-area {
  /*background-color: #fff;*/
  vertical-align: middle;
}
/*.edit-heading {
	font-size: 20px;
}*/
.big-heading {
  font-size: 20px;
  padding: 30px !important;
  line-height: 27px !important;
}
.edit-section-bg-color {
  background-color: #ececec;
  /*max-height: 100px;*/

  height: 100%;
  /* padding-bottom: 100px;*/
}
.modal-body,
.modal-body div .edit-section-bg-color {
  height: 100%;
}
.borer-1px {
  border-top: 1px solid #cfcfcf;
  margin: 15px 0;
  clear: both;
}
.edit-section .borer-1px {
  margin: 5px 0 !important;
}
.borer-1px-2 {
  border-top: 1px solid #cfcfcf;
  margin: 5px 0;
  clear: both;
}
.borer-3px-2 {
  border-top: 3px solid #4c4c4c;
  margin: 5px 0;
  clear: both;
}

.appbar-add-resume-btn {
  padding: 4px 12px;
  border-radius: 3px;
  font-size: 14px;
  color: #1f75cb !important;
  font-weight: 500;
  background-color: #ffffff;
}

.appbar-blue-btn {
  border: solid 1px #0075cb;
  padding: 4px 12px;
  border-radius: 3px;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff !important;
  font-weight: 400;
  background-color: #0075cb;
}

.appbar-blue-btn-disabled {
  border: solid 1px #0075cb;
  padding: 4px 12px;
  border-radius: 3px;
  font-size: 12px;
  color: #ffffff !important;
  font-weight: 400;
  background-color: #0075cb;
}

.appbar-btn-tf {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #0075cb !important;
  font-size: 14px;
  font-weight: 500;
}

.tf-blue-txt {
  color: #0075cb;
}

.add-resume-btn-margin {
  margin-right: 5px;
}

.tour-btn-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.edit-section .edit-data ul,
.edit-section .edit-data ul li,
.suggestion-box ul,
.suggestion-box ul li {
  margin-left: 0;
  padding: 0;
}
.edit-section .edit-data ul li,
.suggestion-box ul li {
  line-height: 22px !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.edit-data .f-edit ul,
.suggestion-box ul {
  margin-left: 30px;
}
.suggestion-box ul.tab-keywords {
  margin-left: 0;
}
.edit-data {
}
.from-row {
  position: relative;
}
.f-edit {
  background-color: #fff;
  padding: 15px;
  position: relative;
}

.from-row .btn-toolbar {
  position: absolute;
  right: 4px;
  top: 4px;
}
.f-padding-margin {
  padding: 6px 15px !important;
  margin-top: 4px !important;
  margin-bottom: 20px !important;
}
.suggestion-box ul li {
  font-size: 12px;
}
.suggestion-box {
  background-color: #fff;
  /*	padding: 20px;
	padding: 10px 0px 10px 15px !important;*/
  line-height: 20px;
}
.sugesting-box.bgNone {
  background-color: transparent !important;
}
.sugesting-box {
  background-color: #fff;
  /*	padding: 20px 10px 10px 20px;*/
  line-height: 18px;
  height: 90%;
}
.sg-heading h2 {
  color: #484747;
  font-size: 18px;
  font-weight: 800;
  padding-left: 10px;
}
.video-walkthrough-icon {
  margin: 18px 9px 9px 9px;
  float: right;
}
.date {
  color: #9a9a9a;
}
.suggestion-box p.li-heading {
  font-size: 14px;
}
.suggestion-box h3 {
  color: #484747;
  font-size: 18px;
  font-weight: 700;
  padding-left: 0;
  margin-top: 0;
}
.gray-box-col-padding {
  padding: 5px;
}
.gray-box-padding {
  padding: 15px;
  border: 1px solid #ababab;
  border-radius: 5px;
}
.gray-box-p {
  padding: 10px 0 0 0;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #4a4a4a;
}
.sg-title {
  width: 100%;
  display: table;
}
.sg-title .sg-text,
.sg-title .sg-info,
.sg-title .sg-graph {
  display: table-cell;
}
.sg-title-2 {
  width: 100%;
}
.sg-title .sg-text {
  font-size: 15px;
  color: #484747;
  font-weight: 700;
  line-height: normal;
}
.sg-title-2 .sg-text-2 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
}
.sg-title-2 .sg-text-3 {
  font-size: 14px;
}
.sg-title-2 .sg-text-2,
.sg-title-2 .sg-text-3 {
  color: #484747;
  font-weight: 700;
}
.gray-line-3p {
  width: 40%;
  border-top: solid 3px #4c4c4c;
  height: 5px;
  margin-bottom: 5px;
}
.sg-info {
  position: relative;
  width: 30px;
  font-size: 16px;
  color: #484747;
}

.feedback-pic-info {
  position: absolute;
  top: 24px;
  right: 15px;
}

.sg-graph {
  width: 46px;
  text-align: right;
  vertical-align: top;
}
.edit-detail {
}
.edit-detail .btn-toolbar .btn {
  padding: 0 !important;
}
.from-row .btn.nav-circel {
  width: 30px !important;
  background-color: #0175cc;
  min-width: 30px;
  border: none;
  opacity: 0.5;
}
.lable-detail {
  color: #9a9a9a;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}
.validation-detail {
  color: #434343;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  text-align: right;
}
.normal-heading {
  color: #404040;
  font-size: 14px;
  padding-top: 5px;
  font-weight: 700;
}

.normal-heading a {
  background-color: #0175cc;
  color: #fff;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.suggestion-bottom {
}
.undo-text {
  font-size: 12px;
}
.bt-number {
  width: 40px;
  float: left;
  font-size: 20px;
  color: #c8c8c8;
  font-weight: 600;
}
.categories-bt-number {
  font-size: 20px;
  color: #c8c8c8;
  font-weight: 600;
  margin: 5px;
}
.bt-next-pre {
  width: 63px;
  margin-right: 10px;
  float: right;
}
.sample-nex-pre {
  background-color: #484747;
  width: 26px;
  height: 26px;
  line-height: 27px;
  text-align: center;
  border-radius: 26px;
  vertical-align: middle;
  color: #989090;
  float: left;
  margin-left: 5px;
}

.sample-nex-pre a span {
  color: #337ab7 !important;
}
.sample-nex-pre span {
  font-size: 12px !important;
}

a.sample-next {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #0075cb;
  vertical-align: middle;
  color: #0075cb;
  float: right;
  margin-left: 5px;
  font-size: 12px !important;
}

a.sample-next span {
  color: #0075cb !important;
}

a.sample-next:hover {
  background-color: #0075cb;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #0075cb;
  vertical-align: middle;
  color: #ffffff;
  float: right;
  margin-left: 5px;
  font-size: 12px !important;
}

a.sample-next:hover span {
  color: #ffffff !important;
}

a.sample-next-disabled {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  vertical-align: middle;
  color: #c4c4c4 !important;
  float: right;
  margin-left: 5px;
  cursor: default !important;
  font-size: 12px;
}

a.sample-next-disabled span {
  color: #c4c4c4 !important;
}

a.sample-prev {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #0075cb;
  vertical-align: middle;
  color: #0075cb;
  float: left;
  margin-left: 5px;
  font-size: 12px !important;
}

a.sample-prev span {
  color: #337ab7 !important;
}

a.sample-prev:hover {
  background-color: #0075cb;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #0075cb;
  vertical-align: middle;
  color: #ffffff;
  float: left;
  margin-left: 5px;
  font-size: 12px !important;
}

a.sample-prev:hover span {
  color: #ffffff !important;
}

a.sample-prev-disabled {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  vertical-align: middle;
  color: #c4c4c4 !important;
  float: left;
  margin-left: 5px;
  cursor: default !important;
  font-size: 12px;
}

a.sample-prev-disabled span {
  color: #c4c4c4 !important;
}

.sg-table {
  display: table;
}
.big-num {
  font-size: 36px;
  font-weight: 800;
  width: 73px;
  text-align: left;
  color: #656565;
  height: auto;
  line-height: 36px;
  display: table-cell;
}
.text-num {
  color: #848484;
  font-size: 13px;
  line-height: 15px;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
  display: table-cell;
}
.url-text2 {
  line-height: 30px;
}
.url-text {
  line-height: 50px;
}
.edit-col {
  position: absolute;
  top: 10px;
  right: 20px;
}
.edit-col .btn-toolbar {
  position: relative;
  right: auto;
  top: auto;
  width: 28px;
  margin-right: 15px;
}
.btn-toolbar {
  margin-left: 0 !important;
}
.edit-col .btn.nav-circel {
  width: 18px !important;
  background-color: transparent;
  min-width: 18px;
  border: none;
}
.edit-col.top68 {
  top: 68px !important;
}
.edit-col ul {
}
.n-p-button {
  margin-right: -10px;
}
.n-p-buttons {
  background-color: #0075cb;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 6px 10px !important;
  margin-left: 6px;
  cursor: pointer;
}
a.n-p-buttons {
  text-decoration: none !important;
  width: 85px !important;
  display: block;
  float: left;
  line-height: 15px;
  min-width: unset;
}
.height28 {
  height: 28px !important;
}
.n-p-buttons .glyphicon-triangle-right {
  float: right;
}
.edit-col ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 3px;
}
.Next-Previous {
  margin-top: -12px !important;
  height: 24px;
  clear: both;
}
.dropdown-add-delete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 10px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.fade-button {
  opacity: 0.65;
}
.number-text {
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  width: 20%;
}
.likedin-skills {
  /*background-color: #fff;*/
  background-color: #ededed;
  padding: 15px;
  position: relative;
  color: #a7a7a7;
  font-size: 11px;
  margin-bottom: 10px;
}
.likedin-skills strong {
  color: #000;
  font-size: 12px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-btn a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #a7a7a7;
}
.structural-elements {
  background-color: #333333;
  padding: 20px;
}
.structural-elements .structural_heading {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding-left: 10px;
  padding-bottom: 15px;
}
.structural-elements ul {
  padding: 0;
  margin: 0;
}
.structural-elements ul li {
  color: #aeaeae;
  font-size: 12px;
  display: inline-block;
  margin: 5px 0;
}
.structural-elements ul li span {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 11px !important;
  border: solid 1px #aeaeae;
  margin-right: 7px;
}
.edit-img-section {
  background-color: #343434;
  position: relative;
  width: 100%;
  padding: 50px;
}

.linkedin-step-h {
  font-size: 18px;
  color: #0175cc;
}

.edit-img {
  height: 175px;
  width: 175px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

.suggestions-img {
  width: 175px !important;
  height: 175px;
  border-radius: 100%;
  border: solid 1px #cacaca;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

/*.edit-img-section a.btn-upload:hover{
	color:#ffffff;
}

.edit-img-section a.btn-upload:visited{
	color:#ffffff;
}
.edit-img-section a.btn-upload:active{
	color:#ffffff;
}*/

.btn-upload {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 140px !important;
  min-width: 140px !important;
  padding: 6px 20px !important;
  color: #fff !important;
  background-color: #0075cb;
  border-color: #0075cb;
  outline: none !important;
}

.btn-upload:hover,
.btn-upload:active {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 140px !important;
  min-width: 140px !important;
  padding: 6px 20px !important;
  color: #fff !important;
  background-color: #0075cb;
  border-color: #0075cb;
  outline: none !important;
}

.img-progress-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.img-progress {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 4px solid #ffffff;
  border-top: 4px solid #0075cb;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  line-height: 175px;
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  z-index: 11000;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pro-image-size {
  display: table;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.img-size-minus,
.img-size-plus {
  width: 20px;
  line-height: 15px;
  font-weight: 600;
  display: table-cell;
  color: #191919;
}
.img-size-plus {
  font-size: 21px;
  text-align: right;
}
.mg-size-bar {
  width: 26px;
  height: 26px;
  background: #fff;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: solid 1px #c9c9c9;
  position: absolute;
  left: 10px;
  top: -5px;
}
.img-size-minus {
  font-size: 30px;
  text-align: left;
}
.img-size-bar {
  background-color: #d1d1d1;
  height: 18px;
  border-radius: 18px;
  display: table-cell;
  position: relative;
  line-height: normal !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
}

.switch button {
  opacity: 1;
  background: none;
  border: none;
  width: 40px;
  height: 15px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0075cb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  background-color: #f5f5f5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #d8d8d8;
}

button.edit-toggle-checked .slider {
  background-color: #0075cb;
}

button:focus .slider {
  box-shadow: 0 0 1px #f5f5f5;
}

button.edit-toggle-checked .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

button[disabled] .slider {
  cursor: not-allowed;
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.glyphicon-remove {
  cursor: pointer;
}

.glyphicon-remove-top {
  top: 34px !important;
}

.popuptitle {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 41px;
}

.f-edit {
  line-height: 24px;
}

.edit-detail input {
}

.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.btn-default:active:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.modal.in .modal-dialog,
.modal-content,
.modal-body {
  height: auto;
}

.modal-body .edit-section-bg-color {
  position: fixed;
  top: 99px;
  width: 100%;
}

.edit-section-bg-color .col-sm-5,
.edit-section-bg-color .col-sm-8 {
  height: 100%;
}

.modal-body .edit-section-bg-color .row,
.modal-body .edit-section-bg-color .col-sm-6 {
  height: 90%;
}

.edit-section-bg-color .edit-section {
  height: 100%;
}

.legend-text {
  /*height: 60px;*/
  margin-bottom: 50px;
}

.edit-section-bg-color .col-sm-12 .sugesting-box {
  height: 90% !important;
}

.modal-body .bg-dark-blue {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
}

.ellipse-circle {
  width: 42px !important;
}

.edit-section-bg-color .col-sm-7 .row,
.edit-section-bg-color .col-sm-6 .row {
  padding-right: 10px;
}

.edit-pic-info {
  position: absolute;
  top: 15px;
  right: 34px;
}

.edit-pic-section-overflow {
  overflow-x: hidden;
  overflow-y: scroll;
}

.edit-modal-header-target-function {
  padding: 10px 0px 10px 10px;
}

.close-button {
  vertical-align: middle;
  text-align: center;
  /*	-webkit-transition:-webkit-transform .25s, opacity .25s;
  -moz-transition:-moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s;*/
  opacity: 0.5;
  font-size: 20px;
}

.close-button:hover {
  vertical-align: middle;
  text-align: center;
  /*	-webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);*/
  opacity: 1;
  font-size: 20px;
}

.edit-section-modal-body-styling {
  height: calc(100% - 56px);
  height: -webkit-calc(100% - 56px);
  height: -moz-calc(100% - 56px);
  position: absolute;
  top: 56px;
  width: 100%;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px 0px;
  background-color: #f5f5f5;
}

.edit-section-modal-body-styling .row-container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.edit-section-modal-body-styling .col-container {
  display: flex;
  flex-direction: column;
}

.suggestions-for-editing-section-styling {
  height: calc(100% - 52px);
  height: -webkit-calc(100% - 52px);
  height: -moz-calc(100% - 52px);
  position: absolute;
  top: 52px;
  left: 0px;
  width: 100%;
}

.suggestions-for-editing-section-styling .sugesting-box {
  background-color: #fff;
  padding: 15px;
  line-height: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin-bottom: 10px;
  flex: 1;
}

#hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}

#hide-scrollbar {
  scrollbar-width: none;
}

.avatar-outer {
  background-color: #ffffff;
  height: 700px;
}

.avatar-inner {
  margin: 0 auto;
  width: 400px;
}

.AvatarCropper-base {
  padding-top: 30px;
  margin: 0 auto;
}

.avatar-buttons {
  padding-bottom: 30px;
}

.avatar-button {
  min-width: unset !important;
  width: 49%;
  border-radius: 3px;
}

.avatar-title {
  font-size: 30px;
  padding-top: 40px;
  font-weight: 500;
  text-align: center;
}

.avatar-zoom {
  display: inline-table;
  margin-top: 10px;
  margin-bottom: 20px;
}

.avatar-rotate {
  display: inline-table;
  margin-bottom: 20px;
}

.rotate-text {
  display: table-cell;
  padding-top: 0px;
  font-size: 17px;
  font-weight: 400;
}

.rotate-button {
  display: table-cell;
  padding-left: 11px;
  vertical-align: top;
  cursor: pointer;
}

.rotate-img {
  width: 16px;
}

.language-button {
  text-decoration: none !important;
  margin-top: -13px;
}

.guides-col-padding-r-0 {
  padding-right: 0;
}

/* Loader for samples */
.samples-loader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.samples-loader-text {
  position: absolute;
  top: 37%;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.samples-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  width: 70px;
  text-align: center;
}

.samples-loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.samples-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.samples-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* resume tab design changes */
.summary-edit-panel-container {
  /*position: relative;*/
  height: 100%;
}

.summary-edit-panel-container-heading {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #666;
}

.summary-edit-panel-container-body {
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  background-color: #ffffff;
  width: 100%;
}

.summary-edit-panel-container-body-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: #4a4a4a;
}

#guide-tabs .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
#guide-tabs .nav > li {
  position: relative;
  display: block;
}
#guide-tabs .nav > li > a {
  position: relative;
  display: block;
  padding: 5px 30px;
}
#guide-tabs .nav > li > a:hover,
#guide-tabs .nav > li > a:focus {
  text-decoration: none;
  /*background-color: #eee;*/
}
#guide-tabs .nav > li.disabled > a {
  color: #777;
}
#guide-tabs .nav > li.disabled > a:hover,
#guide-tabs .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
#guide-tabs .nav .open > a,
#guide-tabs .nav .open > a:hover,
#guide-tabs .nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
#guide-tabs .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#guide-tabs .nav > li > a > img {
  max-width: none;
}
#guide-tabs .nav-tabs {
  position: absolute;
  top: 0;
  height: 31px;
  width: 100%;
  border-bottom: unset;
  /*padding-left: 10px;*/
  background-color: #d8d8d8;
}
#guide-tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

#guide-tabs .nav-tabs > li.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#guide-tabs .nav-tabs > li > a {
  margin-right: unset;
  line-height: 1.42857143;
  font-weight: 600;
  font-size: 14px;
  border-color: #b1b1b1;
  background-color: #b1b1b1;
  margin-right: 5px;
  height: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*border: 1px solid #b1b1b1;*/
}

#guide-tabs .nav-tabs > li.active > a,
#guide-tabs .nav-tabs > li.active > a:hover,
#guide-tabs .nav-tabs > li.active > a:focus {
  color: #000000 !important;
  cursor: default;
  background-color: #ffffff;
  border-color: #ffffff;
  border-bottom-color: transparent;
  height: 31px;
}
#guide-tabs .tab-content {
  font-weight: 600;
  padding: 0;
  position: absolute;
  top: 31px;
  width: 100%;
  height: calc(100% - 31px);
  height: -webkit-calc(100% - 31px);
  height: -moz-calc(100% - 31px);
  overflow-y: auto;
  overflow-x: hidden;
}
#guide-tabs .tab-content > .tab-pane {
  display: none;
  height: 100%;
}
#guide-tabs .tab-content > .active {
  display: block;
  /*  border-bottom-color: transparent;*/
}
#guide-tabs .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-pad-margin-left {
  padding-left: 0;
  padding-right: 5px;
}

.container-pad-margin-right {
  padding-left: 5px;
  padding-right: 0;
}

.container-pad-margin-0 {
  padding-left: 0;
  padding-right: 0;
}

.gray-item-example-container {
  padding: 10px 20px;
  background-color: #e7e7e7;
  margin-bottom: 10px;
}

.gray-item-example-container .gray-item-example-container-heading {
  font-size: 16px;
  font-weight: 700;
}

.gray-item-example-container .gray-item-example-container-content {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.outer-skills-and-content-container {
  padding: 10px 0;
  background-color: #d8d8d8;
  height: 100%;
}

.new-skills-container {
  height: 100%;
}

.new-skills-inner-wrapper {
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.new-content-container {
  height: 100%;
}

.new-content-inner-wrapper {
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.outer-skills-and-content-container .sugesting-box {
  height: 100%;
}

.new-resume-gap-container {
  height: 100%;
}

.resume-gap-wrapper {
  height: 100%;
}

.resume-gap-container {
  height: 100%;
}

.new-language-container {
  height: 100%;
}

.new-language-inner-wrapper {
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  overflow-y: scroll;
}

/* Loader for resume gaps */
.resume-gaps-loader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.resume-gaps-loader-inner-wrapper {
  position: absolute;
  top: 45%;
  width: 100%;
}

.resume-gaps-loader-text {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.resume-gaps-loader {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.resume-gaps-loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.resume-gaps-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.resume-gaps-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
