html,
body {
  /*height:100%;*/
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #e8e8e8;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.tab-keywords.linke-height li a {
  line-height: 26px !important;
}

.tab-keywords.linke-height li span {
  line-height: 26px !important;
  padding-right: 10px !important;
}

/* -----------------------------------------------------Navbar Scroll Fix ---------------------------------*/

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -10px;
  }
}

/* ------------------------------------------------------- Text Color----------------------------------------------------------------*/

.text-white {
  color: #fff !important;
}

.text-black {
  color: #484747 !important;
}

.text-red {
  color: $brand-danger !important;
}

.text-red-2 {
  color: $brand-danger !important;
  font-size: 13px;
  font-weight: 600;
}

.text-blue {
  color: #0075cb !important;
}

.text-light-blue {
  color: #47a5ea !important;
}

.text-green {
  color: $brand-success !important;
}

.text-yellow {
  color: $brand-warning !important;
}

/* ------------------------------------------------------- Font Size ----------------------------------------------------------------*/

@for $var from 5 to 10 {
  .font-#{$var*2} {
    font-size: $var * 2px;
  }
}

/* ------------------------------------------------------- Circel Color----------------------------------------------------------------*/

.circel-gray {
  border: solid 1px #484747;
  color: #484747;
}

.circel-blue {
  border: solid 1px #68b1e6;
  color: #68b1e7;
}

.circel-blue2 {
  border: solid 1px #0175cc;
  color: #0175cc;
  background-color: #0175cc;
  line-height: 24px !important;
}

.circel-blue3 {
  border: solid 1px #0175cc;
  color: #0175cc;
  background-color: #ffffff;
  line-height: 24px !important;
}
.circel-blue3:hover {
  border: solid 1px #0175cc;
  color: #0175cc;
  background-color: #e8e8e8;
  line-height: 24px !important;
}

.circel-green {
  border: solid 1px $brand-success;
  background-color: $brand-success;
}

.circel-red {
  border: solid 1px $brand-danger;
  background-color: $brand-danger;
}

.circel-yellow {
  border: solid 1px $brand-warning;
  background-color: $brand-warning;
}

span.circel-green {
  content: '\2713';
}

span.circel-red {
  content: '\0021';
}

span.circel-yellow {
  content: '\0021';
}

/* ------------------------------------------------------- Display ----------------------------------------------------------------*/

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

/* ------------------------------------------------------- Margin ----------------------------------------------------------------*/

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-bottom-10 {
  margin: 10px 0;
}

.margin15px {
  margin-right: 15px;
}

.margin-r-3 {
  margin-right: 3%;
}

.edit-dark-gray-bg .row .col-sm-6:nth-child(2) {
  padding-left: 3%;
  padding-right: 0 !important;
}

.margin-l-2 {
  margin-left: 2%;
}

.margin-l-5 {
  margin-left: 5%;
}

.margin-15px {
  margin: 15px;
}

.margin-4p {
  margin: 4% 0;
}

.margin-lr-0 {
  margin-left: 0;
  margin-right: 0;
}

/* ------------------------------------------------------- Padding ----------------------------------------------------------------*/

.padding-bottom-38 {
  padding-bottom: 38px;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-tb-20-10 {
  padding: 20px 0 10px 0;
}

.padding-tb-25 {
  padding: 20px 0;
}

.padding-tb-15 {
  padding: 15px 0;
}

.padding-lr-25 {
  padding: 0 25px !important;
}

.padding-lr-15 {
  padding: 0 15px !important;
}

.padding-lr-5 {
  padding: 0 5px !important;
}

.padding25 {
  padding: 25px;
}

.padding-l-30 {
  padding-left: 30px;
}

.padding-l-40 {
  padding-left: 40px;
}

.padding-l-55 {
  padding-left: 55px;
}

.padding-right0 {
  padding-right: 0 !important;
  display: flex;
}

.padding-right0-2 {
  padding-right: 0 !important;
}

.padding-left01 {
  padding-left: 0px !important;
}

.padding-r-l {
  padding: 0 5px;
}

.padding-rl-0 {
  padding-right: 0;
  padding-left: 0;
}

/* ------------------------------------------------------- BG Color ----------------------------------------------------------------*/

.bg-summary-heading {
  background-color: #f4f4f4;
}

.bg-white {
  background-color: #fff !important;
}

.bg-blue {
  background-color: #3598d3;
}

.bg-dark-blue {
  background-color: #0075cb;
}

.bg-grad-blue {
  background: #0075cb;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #0075cb, #00a5cb);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #0075cb, #00a5cb);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #0075cb, #00a5cb);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #0075cb, #00a5cb);
  /* Standard syntax (must be last) */
}

.dark-gray-bg {
  background-color: #bdbdbd;
}

.dark-gray-bg-2 {
  background-color: #f5f5f5;
}

.light-gray-bg {
  background-color: #fdfdfd !important;
}

.edit-dark-gray-bg {
  background-color: #d8d8d8;
}

.dark-gray-bg-3 {
  background-color: #595959 !important;
}

.bg-black {
  background-color: #333;
}

.bg-transparent {
  background-color: transparent !important;
}

.light-gray-bg-2 {
  background-color: #f2f2f2;
}

/* ------------------------------------------------------- BTN Width ----------------------------------------------------------------*/

.btn {
  min-width: 320px;
  padding: 8px 20px;
  font-size: 13px;
}

.btn2 {
  min-width: 280px !important;
  padding: 10px 20px !important;
  font-size: 13px;
  margin-top: 10px;
}

.btn3 {
  min-width: auto !important;
  padding: 10px 30px !important;
  font-size: 12px;
}

.btn4 {
  min-width: auto !important;
  padding: 6px 30px !important;
  font-size: 12px;
  position: absolute;
  top: 9px;
  right: -2%;
}

.btn5 {
  min-width: auto !important;
  padding: 5px 20px !important;
  font-size: 12px;
}

.btn6 {
  min-width: 280px !important;
  padding: 10px 20px !important;
  font-size: 13px;
}

.btn-yes {
  min-width: unset;
  padding: 3px 20px;
  font-size: 13px;
}

.btn-no {
  min-width: unset;
  padding: 3px 20px;
  font-size: 13px;
  margin-left: 5px;
}

/* ------------------------------------------------------- BTN Margin ----------------------------------------------------------------*/

.btn-margin-l-24p {
  margin-left: 24%;
}

.btn-margin-l-1p {
  margin-left: 1%;
}

.btn-margin-l-3p {
  margin-left: 3%;
}

.margin-l-3p {
  margin-left: 3%;
}

.btn-margin {
  margin-left: 28%;
}

/* ------------------------------------------------------- Border Radius  dated 12-04-2017----------------------------------------------------------------*/

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-gray {
  border: solid 1px #c2c2c2;
  background-color: transparent !important;
}

.border-gray-2p {
  border: dashed 2px #c2c2c2;
  background-color: transparent !important;
}

.border-gray-right {
  border-right: solid 1px #d7d7d7;
}

.dashed {
  border-style: dashed;
}

.border-gray-bottom {
  border-bottom: 1px solid $light-gray;
}

/* ------------------------------------------------------- Table and Cell ----------------------------------------------------------------*/

.table-row {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

/* ------------------------------------------------------- Col wdith ----------------------------------------------------------------*/

.width100 {
  width: 100%;
}

.width97 {
  width: 97%;
}

.width90 {
  width: 90%;
}

.width80 {
  width: 80%;
}

.width70 {
  width: 70%;
}

.width60 {
  width: 60%;
}

.width50 {
  width: 50% !important;
}

.width495 {
  width: 49.5% !important;
}

.width49 {
  width: 49%;
}

.width15 {
  width: 15%;
}

.width16 {
  width: 16%;
}

.width55 {
  width: 55%;
}

.width48 {
  width: 48%;
}

.width46 {
  width: 46%;
}

.width44 {
  width: 44%;
}

.width40 {
  width: 40%;
}

.width30 {
  width: 30%;
}

.width28 {
  width: 28%;
}

.width25 {
  width: 25%;
}

.width24 {
  width: 24%;
}

.width23 {
  width: 23%;
}

.width22 {
  width: 22%;
}

.width20 {
  width: 20%;
}

.width10 {
  width: 10%;
}

.width-40-p {
  width: 40%;
}

.height50 {
  height: 50%;
}

.height140px {
  height: 140px;
}

.height250px {
  height: 250px;
}

.height48 {
  height: 48%;
}

.height47 {
  height: 47%;
}

.height30 {
  height: 30%;
}

.height20 {
  height: 20%;
}

.height15 {
  height: 15%;
}

.height90 {
  height: 90%;
}

.height98 {
  height: 98% !important;
}

.height100 {
  height: 100% !important;
}

.height0 {
  height: 0;
}

.height70 {
  height: 70% !important;
}

.height75 {
  height: 75% !important;
}

.height73 {
  height: 73% !important;
}

.height80 {
  height: 80% !important;
}

.height85 {
  height: 85% !important;
}

.height2 {
  height: 2%;
}

.scroll-col {
  height: 150px;
  overflow-y: auto;
  padding-right: 15px;
}

.scroll-col-4 {
  height: 180px;
  overflow-y: auto;
  padding-right: 15px;
  line-height: 22px;
}

.scroll-col-2 {
  height: 100px;
  overflow-y: auto;
  padding-right: 15px;
}

.scroll-col-3 {
  height: 75%;
  overflow-y: auto;
  padding-bottom: 50px;
}

.scroll-col-5 {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 0;
}

.scroll-col-6 {
  height: 65%;
  overflow-y: auto;
  padding-bottom: 0;
}

.scroll-col-auto {
  overflow-x: hidden;
  overflow-y: auto;
}

.position-re {
  position: relative;
}

/* Loader */

.align-middle-container {
  display: table;
}

.align-middle-content {
  display: table-cell;
}

.dashboard-loading-icon {
  border-radius: 999px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

@-webkit-keyframes dashboard-loading-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dashboard-loading-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dashboard-loading {
  text-align: center;
}

.dashboard-loading .align-middle-container {
  width: 100%;
  height: 100%;
}

.dashboard-loading-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-top-color: #000;
  -webkit-animation: dashboard-loading-spin 1s infinite linear;
  animation: dashboard-loading-spin 1s infinite linear;
}

.dashboard-loading-card {
  padding: 20px;
}

.dashboard-loading-fullscreen {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  /*    z-index: 9999;*/
}

.dashboard-loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.page-layout > .dashboard-loading {
  height: 80vh;
  padding-top: 80px;
}

/* Datepicker in Experience */

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: -15px;
  right: 0px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}

.rdtPicker td {
  cursor: pointer;
}

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}

.rdtPicker th.rdtSwitch {
  width: 100px;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker thead tr:first-child th {
  cursor: pointer;
}

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

/**** BUTTONS ****/
.text-btn {
  min-width: unset;
  background: none;
  border: none;
  color: $text-color;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 1px 7px 2px;
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &.gray {
    color: $text-black;
  }
  &.primary {
    color: $brand-primary;
  }
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: #eee;
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.cursor-pointer {
  cursor: pointer;
}

/* tour css */
.no-scroll {
  overflow: hidden !important;
}

.tour-body-curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/*
.unsupported-browser{
 z-index:10001;
 height: 100%;
 width: 100%;
}*/

.unsupported-browser .modal-dialog {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  z-index: 99999;
}

.unsupported-browser .modal-content {
  border-radius: 0px;
}

.unsupported-browser b {
  font-weight: 600;
}

.card-block-lg {
  padding: 10px;
}

.card-block-lg {
  padding: 20px;
}

/* Override modal class to fix scrollig issue after navbar updates */
.modal-backdrop.in {
  overflow-y: auto;
  filter: alpha(opacity=80) !important;
  opacity: 0.8 !important;
}

.fade.in.modal {
  overflow-y: auto;
}

.margin-padding-0 {
  margin: 0;
  padding: 0;
}
