$brand-success: #46a74d;
$brand-warning: #f89d2f;
$brand-danger: #ef4f3e;
$brand-primary: #0075cb;
//Insert similar variable in _variable_accessile.scss in case of contrast issue
$light-blue: #ddf1ff;
$light-gray: #eee;
$dark-gray: #999;
$text-black: #6b6b6b;
$light-gray-2: #f5f5f5;
$text-color: #444;

$border-gray: #ddd;
// navbar
// $navbar-height: 40px;
// $navbar-font-size: 12px;
// $navbar-nav-divider-margin: 10px;
// $navbar-inverse-bg: #404040;
// $navbar-inverse-color: lighten($navbar-inverse-bg, 50%);
// $navbar-inverse-link-color: #ccc;
// $navbar-default-color: #777;
